@{
    ViewBag.Title = "Home Page";
}
<section class="py-5 bg-image-full"
         style="background-image: url('https://media-api.xogrp.com/images/299c7d70-3879-4878-93cd-cb4963772c76~rs_768.h'); background-size: 100% ;">
    <div style="height: 70vh;"></div>
</section>
<section class="py-5">
    <div class="container">
        <h1>Plan your trip today! </h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">
                <br>Shared Trip makes ridesharing easy, safe and accessible to all.
                <br>In just a few seconds, drivers can offer empty seats and passengers can book a ride to their destination.
            </p>
        </div>
    </div>
</section>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>